:root {
    --blue: #030DFF;
    --yellow: #FAFF00;
    --black: #000000;
    --gray-0: #202020;
    --gray-1: #585858;
    --gray-2: #808080;
    --gray-3: #C4C4C4;
    --gray-4: #F0F0F0;
    --gray-5: #F9F9F9;
    --gray-7: #FBFBFB;
    --links: #0D74E3;
    --green: #43BE50;
    --fresh: #F2F6FF;
    --red: #FF0000;
    --bardo: #89181B;
    --white: #FFFFFF;
    --pulse: radial-gradient(86.93% 85.11% at 36.25% 14.89%, #2AD0CA 0%, #E1F664 22.92%, #FF6DFF 46.88%, #828EFF 68.23%, #42FF99 87.5%, #00AEFF 100%);
    --blur: linear-gradient(127.88deg, #EBF3D0 6.4%, rgba(235, 243, 208, 0) 18.7%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, #CBADEB 0%, rgba(194, 166, 241, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(145.43deg, #CDF9E8 19.71%, rgba(205, 249, 232, 0) 67.7%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, #C0A9F0 -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, #C0A9F0 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, #FFFDB1 0%, #FEE4BF 34.46%, #F0BDD0 69.5%, rgba(255, 129, 38, 0) 100%);
    --metalic: conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(95.11% 95.11% at 36.64% 4.89%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.88%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
    --sub: linear-gradient(79.9deg, #F291D9 1.85%, #7AC6FF 116.47%), #B0DDFE;
    --char: linear-gradient(84.35deg, #FBFF2D 2.13%, #0047FF 89.81%);
    --pulse-2: radial-gradient(360.36% 451.69% at 18.4% -138.5%, #2AD0CA 0%, #E1F664 22.92%, #FF6DFF 46.88%, #828EFF 68.23%, #42FF99 87.5%, #00AEFF 100%);
    --silver: conic-gradient(from 176.21deg at 50% 50%, #BCBCBC -24.8deg, #C1C1C1 0.25deg, #FFFFFF 50.63deg, #9CA4A6 88.12deg, #FFFFFF 120deg, #FFFFFF 142.5deg, #7D7D7D 196.87deg, #D2D2D2 256.87deg, #FFFFFF 271.87deg, #FFFFFF 300deg, #BCBCBC 335.2deg, #C1C1C1 360.25deg), radial-gradient(86.93% 85.11% at 36.25% 14.89%, #2AD0CA 0%, #E1F664 22.92%, #FF6DFF 46.88%, #FFFFFF 68.23%, #42FF99 87.5%, #00AEFF 100%);
    --gold: conic-gradient(from 176.21deg at 50% 50%, #FFCB12 -24.8deg, #FFCB12 0.25deg, #FFFFFF 50.63deg, #FFCB12 88.12deg, #FFFFFF 120deg, #FFE600 134.67deg, #FFCB12 196.87deg, #FFCB12 256.87deg, #FFFFFF 271.87deg, #FFFFFF 300deg, #FFCB12 335.2deg, #FFCB12 360.25deg), radial-gradient(86.93% 85.11% at 36.25% 14.89%, #2AD0CA 0%, #E1F664 22.92%, #FF6DFF 46.88%, #FFFFFF 68.23%, #42FF99 87.5%, #00AEFF 100%);
    --platinum: conic-gradient(from 176.21deg at 50% 50%, #AADBFF -24.8deg, #D8E9F3 0.25deg, #FFFFFF 50.63deg, #AADBFF 88.12deg, #FFFFFF 120deg, #AADBFF 134.67deg, #AADBFF 157.5deg, #95D2FF 220.6deg, #AADBFF 256.87deg, #FFFFFF 271.87deg, #FFFFFF 300deg, #AADBFF 335.2deg, #D8E9F3 360.25deg), radial-gradient(86.93% 85.11% at 36.25% 14.89%, #2AD0CA 0%, #E1F664 22.92%, #FF6DFF 46.88%, #FFFFFF 68.23%, #42FF99 87.5%, #00AEFF 100%);
    --but: linear-gradient(109.27deg, #EBF3D0 6.33%, rgba(235, 243, 208, 0) 32.31%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, #CBADEB 0%, rgba(194, 166, 241, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(145.43deg, #31FFAF 19.71%, rgba(205, 249, 232, 0) 67.7%), linear-gradient(216.44deg, rgba(108, 37, 255, 0) -16.52%, #5300FF -1.04%, rgba(83, 0, 255, 0) 16.99%), linear-gradient(115.25deg, rgba(83, 0, 255, 0) -2.27%, #C0A9F0 27.12%, rgba(83, 0, 255, 0.871858) 30.6%, rgba(83, 0, 255, 0) 62.13%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, #FFFC9D 0%, #FFC676 34.46%, #FF5896 69.5%, rgba(255, 76, 0, 0.222007) 93.23%, rgba(255, 129, 38, 0) 100%), #9C61FF;
    --transition: .3s;
}

/* Global Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background: #FFF;
}

.h-0{
    font-weight: 500;
    font-size: 86px;
}

.h-1{
    font-weight: 500;
    font-size: 78px;
}

.h-2{
    font-weight: 500;
    font-size: 69px;
}

.h-2-1{
    font-weight: 700;
    font-size: 69px;
}

.h-3{
    font-weight: 500;
    font-size: 54px;
}

.h-4{
    font-weight: 600;
    font-size: 49px;
}

.h-5{
    font-weight: 500;
    font-size: 45px;
}

.h-6{
    font-weight: 600;
    font-size: 36px;
}

.h-7{
    font-weight: 600;
    font-size: 26px;
}

.h-8{
    font-weight: 600;
    font-size: 20px;
}

.h-9{
    font-weight: 600;
    font-size: 16px;
}

.h-10{
    font-weight: 600;
    font-size: 18px;
}

.h-11{
    font-weight: 600;
    font-size: 22px;
}

.body-0{
    font-weight: 500;
    font-size: 24px;
}

.body-1{
    font-weight: 500;
    font-size: 24px;
}

.body-2{
    font-weight: 500;
    font-size: 22px;
}

.body-3{
    font-weight: 500;
    font-size: 20px;
}

.body-4{
    font-weight: 500;
    font-size: 18px;
}

.body-4-1{
    font-weight: 500;
    font-size: 16px;
}

.body-5{
    font-weight: 500;
    font-size: 14px;
}

.body-6{
    font-weight: 500;
    font-size: 12px;
}

.menu-0{
    font-weight: 600;
    font-size: 18px;
}

.menu-1{
    font-weight: 500;
    font-size: 14px;
}

.menu-2{
    font-weight: 600;
    font-size: 12px;
}

.menu-3{
    font-weight: 500;
    font-size: 16px;
}

.menu-4{
    font-weight: 500;
    font-size: 16px;
}

.but-0{
    font-weight: 600;
    font-size: 16px;
}

.but-1{
    font-weight: 500;
    font-size: 18px;
}

.but-2{
    font-weight: 500;
    font-size: 16px;
}

.but-3{
    font-weight: 500;
    font-size: 14px;
}

.oth-0{
    font-weight: 600;
    font-size: 30px;
}

.oth-1{
    font-weight: 500;
    font-size: 32px;
}

.btn{
    color: var(--white);
    background: var(--blue);
    padding: 20px 32px;
    transition: all var(--transition);
}

.btn:hover{
    background: var(--pulse-2);
    color: var(--white);
}

.btn:active{
    background: var(--links);
    color: var(--white);
}

.btn:disabled{
    background: var(--gray-3);
    color: var(--white);
}

.btn-border{
    background: var(--white) !important;
    color: var(--blue) !important;
    border: 1px solid var(--blue);
}

.btn-grad{
    background: var(--blur) !important;
    color: var(--black) !important;
}

.btn-grad:hover{
    background: var(--but) !important;
    box-shadow: 0 4px 9px rgba(154, 154, 154, 0.41);
}